header.header-s
    .container.header-s__wrap
        .header-s__logo
            a(href="#")
                img(src="static/img/general/Logo.png")
        nav.header-s__side
            ul.menu
                li
                    a(href="#") Главная
                li.menu__list
                    a(href="#") Направление
                    .menu__drop-wrap
                        .menu__drop
                            ul
                                li Море
                                li: a(href="#") Анаклия
                                li: a(href="#") Ватикан
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                            ul
                                li Горы
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                            ul
                                li Города
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                            ul
                                li Места
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                                li: a(href="#") Анаклия
                li: a(href="#") Страховка
                li: a(href="#") Авиа